# Supabase — ambil dari Project Settings > API
SUPABASE_URL=https://xfgrokoivaxrkxpisapa.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhmZ3Jva29pdmF4cmt4cGlzYXBhIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjkyMjQwOCwiZXhwIjoyMDk4NDk4NDA4fQ.dkNX-OhXSY4tFYkcK5XM_Hl1gutNKTHBII6bJFYN_Is

# Password admin panel (bebas, bikin yang kuat!)
ADMIN_SECRET=tugaspwlfinal123

# Nama database (biarkan seperti ini)
DB_NAME=nontoncihuy
